@import "tailwindcss";
@import "./style/font.css";
@import "./style/home.css";

@theme {
  /* purple */
  --color-purple-60: #703bf7;
  --color-purple-65: #8254f8;
  --color-purple-70: #946cf9;
  --color-purple-75: #a685fa;
  --color-purple-90: #dbcefd;
  --color-purple-95: #ede7fe;
  --color-purple-97: #f4f0fe;
  --color-purple-99: #fbfaff;

  /* white */
  --color-white-90: #e4e4e7;
  --color-white-95: #f1f1f3;
  --color-white-97: #f7f7f8;
  --color-white-99: #fcfcfd;

  /* grey */
  --color-grey-08: #141414;
  --color-grey-10: #1a1a1a;
  --color-grey-15: #262626;
  --color-grey-20: #333333;
  --color-grey-30: #4d4d4d;
  --color-grey-40: #666666;
  --color-grey-50: #808080;
  --color-grey-60: #999999;

  /* screen */
  --breakpoint-laptop: 1440px;
  --breakpoint-desktop: 1920px;
}

@custom-variant dark (&:where(.dark, .dark *));

.ant-tooltip-inner {
  font-size: 16px; /* Example: Change to 16px */
}









